<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email stats</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <p><%=error%>: <%=message%></p>
</body>
</html>