<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email stats</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Email stats</h1>
<style>
  .highcharts-legend-item { display: block;}
</style>

  <div id="container" style="width: 900px; height: 100%;"></div>

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  <script src="/lodash/dist/lodash.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="/js/data.js"></script>
  <script src="/js/main2.js"></script>
  <script src="/js/global.js"></script>
</body>
</html>