<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email stats</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main">
    <div class="years">
      <span class="title">Filter years</span>
      <select name="years" id="years">  
        <option value="All">All</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
      </select>
      <button class="update">Update</button>
    </div>
    <div id="container"></div>
    
  </div>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/lodash/dist/lodash.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="http://code.highcharts.com/modules/drilldown.js"></script>
  <script src="moment/moment.js"></script>
  <script src="/js/CMdata.js"></script>
  <script src="/js/pieChart.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>